<mat-toolbar color="primary">
  <span class="tool-bar" >Note-It</span>
</mat-toolbar>

<p>
  <label for="source-editor">The editor content:</label>
</p>

<p>
  <textarea
    id="source-editor"
    class="source-editor"
    (focus)="isSourceActive = true;"
    (change)="isSourceActive = false; editorData = sourceData"
    [(ngModel)]="sourceData">
  </textarea>
</p>

<div class="editor-instance">
  <ckeditor
    #editor
    [(ngModel)]="editorData">
  </ckeditor>
</div>

<div class="editor-preview">
  <h2>Rendered content</h2>
  <div [(innerHtml)]="editorData" #preview></div>
</div>

<!-- <ckeditor data="<p>Hello, world!</p>" ></ckeditor>


<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef [style.width.%]="60">Name</th>
    <td mat-cell *matCellDef="let student">{{ student.name }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef [style.width.%]="40">Age</th>
    <td mat-cell *matCellDef="let student">{{ student.age }}</td>
    <td mat-footer-cell *matFooterCellDef>
      <button mat-button class="add-button" (click)="openNewDialog()">Add</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let student; columns: displayedColumns;" (click)="openEditDialog(student)"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

</table> -->
