.tool-bar {
  //margin: auto;
  //color: black;
  margin-left: 1%;
  font-style: italic;
  font-variant: small-caps;
  font-size:200%;
}


table {
  margin: auto;
  width: 90%;
}

.add-button {
  float: right;
}

.spacer {
  flex: 1 1 auto;
}

